/* font */
@font-face {
    font-family: Fedra-Normal;
    src: url('../font/FedraSansPro-Normal.ttf');
}

@font-face {
    font-family: Fedra-Medium;
    src: url('../font/FedraSansPro-Medium.ttf');
}

@font-face {
    font-family: Fedra-Bold;
    src: url('../font/FedraSansPro-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Fedra-Book;
    src: url('../font/FedraSansPro-Book.ttf');
}

@font-face {
    font-family: Fedra-Light;
    src: url('../font/FedraSansPro-Light.ttf');
}